/* Images created by: https://unsplash.com/@pawel_czerwinski */

html {
  box-sizing: border-box;
}


body {
  margin: 0;
  min-height: 100vh;
  background: #c9ced3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Cascadia Code';
  font-size: 12px;
  flex-direction: column;
}

.player-container {
  height: 600px;
  width: 500px;
  background-color: #e7e7e7;
  border-radius: 20px;
  box-shadow: 0px 15px 30px 5px rgba(0, 0, 0, 0.3);
}


.img-container {
  height: 400px;
  width: 400px;
  position: relative;
  top: -50px;
  left: 50px;
}

.img-container img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
}


h2 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 5px 0 0;
  font-family: 'Dank Mono';
  font-style: italic;
}

.credit {
  color: rgb(48, 47, 47);
}

/* Progress */
.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
}

.progress {
  background: #242323;
  border-radius: 5px;
  height: 100%;
  /* change this to show progress */
  width: 0%;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}

/* Controls */
.player-controls {
  position: relative;
  top: -15px;
  left: 160px;
  width: 400px;
}

.fas {
  font-size: 30px;
  color: rgb(129, 129, 129);
  margin-right: 30px;
  cursor: pointer;
  user-select: none;
}

#volumeStatus {
  color: rgb(129, 129, 129);
}

#volume {
  font-size: 20px;
  margin-right: 0;
}

#volumeSlider {
  width: 60px;
  /* transform: rotate(90deg); */
  background: rgb(129, 129, 129);
  border-radius: 8px;
  height: 7px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  cursor: pointer;
}

.fas:hover {
  filter: brightness(80%);
}

.main-button {
  font-size: 40px;
  position: relative;
  top: 3px;
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {
  .player-container{
    width: 90vw;
    height: 91vh;
  }

  .img-container {
    left: 18px;
    top:15px;
    width: 300px;
  }

  h2 {
    margin-top: 40px;
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .player-controls {
    top: -10px;
    left: 100px;
  }

  .fas{
    font-size: 25px;
  }

  #volume, #volumeSlider{
    display: none;
  }
}
